<div id="main">
	<div id="container">
		<!-- HEADER  -->
		<header>
			<div id="header-container" class="background shadow transition">
				<div id="header">
					<div id="logo" class="transition">
						<div id="arctic-title" class="transition">ArcticGaming</div>
						<div id="arctic-slogan" class="transition">Swiss esports since 2015</div>
					</div>
					<div id="navigation" class="transition">
						{{page.header}}
					</div>
				</div>
			</div>
		</header>
		<!-- SPONSORS  -->
		<section>
			<div id="sponsor-container">
				<div id="sponsor">
						{{page.sponsor}}
				</div>
			</div>
		</section>

		<!-- CONTENT  -->
		<section>
			<div id="content-container">
				<div id="content">
					{{page.content}}
				</div>
			</div>
		</section>

    <!-- SPONSORS  -->
    <section>
      <div id="sponsor-container-bottom">
        <div id="sponsor">
          {{page.sponsor}}
        </div>
      </div>
    </section>


		<!-- FOOTER  -->
		<footer>
			<div id="footer">
        <div id="footer-wrapper">
          <div id="footer-section">
            <p>© 2017 ArcticGaming</p>
            <p>Developed by the ArcticGaming Community</p>
          </div>
          <div id="footer-section">
            <p>
              <a href="https://www.facebook.com/arcticgamingch">Facebook</a>
              <a href="https://twitter.com/ArcticGamingCH">Twitter</a>
              <a href="https://www.instagram.com/arcticgamingch/">Instagram</a>
              <a href="https://www.twitch.tv/arcticgaming_tv">Twitch</a>
              <a href="https://www.youtube.com/channel/UC8H_U5y5TPwnjECz-taoCrQ">Youtube</a>
            </p>
          </div>
          <div id="footer-section" style="text-align:right">
            <p>
              Member of the Swiss e-Sports Federation
              <a href="sesf.ch">
                <img src="https://i.imgur.com/Gt0gll5.png"></img>
              </a>
            </p>
          </div>
        </div>
			</div>
		</footer>
	</div>
</div>
